#video {
    border: 1px solid black;
    width: 320px;
    height: 240px;
}

#photo {
    border: 1px solid black;
    width: 320px;
    height: 240px;
}

#canvas {
    display: none;
}

.camera {
    width: 340px;
    display: inline-block;
}

.output {
    width: 340px;
    display: inline-block;
}

#startbutton,
#send {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 36px;
    padding: 5px;
    background-color: dodgerblue;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
}

#startbutton:hover,
#send:hover {
    background-color: darkred;
}

.contentarea {
    font-size: 16px;
    font-family: Arial;
    text-align: center;
}